/*
   CSS styling examples for the Vaadin app.
   Visit https://vaadin.com/docs/flow/theme/theming-overview.html and
   https://vaadin.com/themes/lumo for more information.
*/

/* Example: CSS class name to center align the content . */
.centered-content {
  margin: 0 auto;
  max-width: 250px;
}



.siteUP{
	color:green
}
.siteDown{
	color:red
}
.servertot{
	color:black
}
.headerB{
	border-width:5px;
	border-bottom-style:groove;
	border-bottom-color: #CACACA;
}

.statistics{
	overflow: auto;
}

.panel1{
border-width:5px;
border-bottom-style:groove;
border-bottom-color: #CACACA;
border-right-style:groove;
border-right-color: #CACACA;
border-top-style:groove;
border-top-color: #CACACA;
border-left-style:groove;
border-left-color: #CACACA;
}


.v-nativebutton-borderless {
    border: none;
    background: transparent url(http://dev.vaadin.com/chrome/site/vaadin-trac.png) no-repeat;
}
.v-window.v-widget.add { 
    right: 0;
    bottom: 0;
    left: auto !important;
    top: auto !important;
}

.toggle{
border-top: double #ff0000
}

.separatorsts{
margin-top:3px;
}

.clearDisabled{
	opacity: 1;
	filter: alpha(opacity=1.0);
	background: transparent;
	color:black;
}

.clearDisabled:before{
	background: transparent;
}

.red .v-icon{
	color:red;
}

.green .v-icon{
    color: green;
}


